beautifulsoup4==4.9.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
cycler==0.10.0
idna==2.9
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
nltk==3.5
numpy==1.18.4
pyparsing==2.4.7
python-dateutil==2.8.1
regex==2020.5.7
requests==2.23.0
six==1.14.0
soupsieve==2.0
tqdm==4.46.0
urllib3==1.25.9
